body{
    text-align: center;
    margin: 0;
    background-color: #fafafa;
}

form{
    position: relative;
    display:inline-block;
}
.form{
    position: absolute;
    top: 50px;
}

#bc1{
    background-color: #8aa29e;
    width:2%;
    height:100%;
    position:fixed;
    left:49%;
    transition: 0.5s;
}
#bc2{
    background-color: #8aa29e;
    width:2%;
    height:100%;
    position:fixed;
    right:49%;
    transition: 0.5s;
}

#f_bc{
    margin: 100px 0 0 0;
    display: inline-block;
    background-color: #e3f2fd;
    padding: 20px 20px 130px 20px;
    border-radius: 20px;
    width: auto;
    border: 3px solid #686963;
    transform: scale(1.2) ;
}

input{
    border: 1px solid #686963
}

#img_div{
    transition: 0.5s;
    opacity: 0;
    z-index: -1;
    position: absolute;
    left:31%;
    top:15%;
    width:45%;
}

.img{
    width:100%;
}

#side_img1{
    top: 10%;
    width:18%;
    position: absolute;
    right: 1%;
}
#side_img2{
    top: 40%;
    width:18%;
    position: absolute;
    right: 1%;
}
#side_img3{
    top: 70%;
    width:18%;
    position: absolute;
    right: 1%;
}